@import url("../../../components/main/bar/mainBar.scss");
@import url("../../../components/main/side/mainSide.scss");
@import url("../../../components/main/content/mainContent.scss");

.main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.main__container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
}
.main__block {
  min-width: 100%;
  height: 100%;
  display: flex;
}
.main-empty-title {
  font-family: SFProText;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #71747a;
}
// !Заголовки
.main-24-title {
  font-family: SFProDisplay;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #171a1f;
}
.main-17-title {
  font-family: SFProText;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.41px;
  color: #171a1f;
}
