@import "../../../styles/helper/helper.scss";
@import url(./contact/mainContactSide.scss);
@import url(./chat/mainSideChat.scss);
@import url(./settings/mainSideSettings.scss);
@import url(./nots/mainSideNots.scss);

.side-bar {
  @include adaptive-value("flex-basis", 1376, 700, 360, 190);
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 360px;
  min-width: 190px;
  min-height: 100%;
  box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.08);
}
