.contact-search {
  width: 100%;
  padding: 12px 16px 16px 16px;
}
.contact-search__title {
  font-family: SFProDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #171a1f;
  padding-bottom: 12px;
}
.contact-search__input {
  width: 100%;
}
