.contact-card__avatar {
  position: relative;
  border-radius: 50%;
  margin-right: 16px;
  outline: 1px solid rgba(211, 211, 211, 0.521);
}
.contact-card__avatar__container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.contact-card__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.contact-card_indicator {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #248bf2;
  outline: 2.5px solid #ffffff;
  z-index: 9999;
  bottom: 2px;
  right: 3px;
}
.contact-card_hover .contact-card_indicator {
  background: #ffffff !important;
  outline: 2.5px solid #248bf2 !important;
}
