.search-input {
  position: relative;
  overflow: hidden;
}
.search-input__icon {
  position: absolute;
  background: none;
  border-radius: 8px 0px 0px 8px;
  height: 40px;
  width: 35px;
  top: 0px;
  left: 0px;
  font-size: 13px;
  color: #9d9fa3;
}
.search-input__delete {
  position: absolute;
  background: none;
  border-radius: 0px 8px 8px 0px;
  height: 40px;
  width: 35px;
  top: 0px;
  right: 0px;
  font-size: 13px;
  color: #9d9fa3;
}
.search-input__input {
  width: 100%;
  height: 40px;
  background: rgba(201, 204, 209, 0.24);
  border-radius: 8px;
  padding: 0px 35px;
  outline: none;
  border: none;
  font-family: SFProText;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #171a1f;
}
.search-input__input::placeholder {
  font-family: SFProText;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.24px;
  color: #9d9fa3;
}
