.stepper-group-add {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  &__item {
    display: flex;
    align-items: center;
  }
  &__round {
    font-family: SFProText;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    background: #9d9fa3;
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  &__text {
    font-family: SFProText;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #9d9fa3;
  }
  &__line {
    width: 50px;
    height: 1px;
    margin: 0px 10px;
    background-color: #9d9fa3;
  }
}
.stepper-group-add__item_selected .stepper-group-add__round {
  background: #248bf2;
}
.stepper-group-add__item_selected .stepper-group-add__text {
  color: #171a1f;
}
