@import url("./body/mainContentChatBody.scss");
@import url("./nav/mainContentChatNav.scss");
@import url("./form/mainContentChatForm.scss");

.main-content-chat {
  display: flex;
  flex-direction: column;
  padding: 0px 112px 0px 112px;
  min-height: 100vh;
  max-height: 100vh;
}
