.main-side-settings-buttons {
  &__title {
    padding: 12px 16px 12px 16px;
    font-family: SFProText;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.41px;
    color: #171a1f;
  }
}
