.popup-group-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.68);
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
  z-index: 55555;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    transition: all 0.8s ease 0s;
    padding: 10px 20px 10px 20px;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    height: calc(100vh - 10px);
    min-height: 400px;
    width: 450px;
    overflow-y: auto;
  }
  &__avatar {
  }
  &__title {
    margin-right: auto;
    padding: 10px 0px;
  }
  &__subtitle {
    margin-right: auto;
    margin-bottom: 10px;
  }
  &__body {
    width: 100%;
  }
  &__buttons {
    display: flex;
    width: 100%;
    justify-content: right;
  }
  &__submit {
    margin-left: 20px;
  }
}
.popup-group-edit_open {
  visibility: visible !important;
  opacity: 1 !important;
}
.popup-group-edit .popup-group-edit__form {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
