@import url("../../../components/auth/main/authMain.scss");
@import url("../../../components//auth/signin/authSignIn.scss");
@import url("../../../components/auth/signup/authSignUp.scss");
.auth {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}
