.popup-group-create-step2 {
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__button {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 8px 0px 8px 0px;
  }
}
