.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background: #f23051;
  color: white;
  border: 2px solid #f2f3f5;
  border-radius: 100px;
  font-family: SFProText;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  color: #ffffff;
}
