.textarea-settings {
  width: 100%;
  position: relative;
  min-height: 60px;
  margin-bottom: 10px;
  &__placeholder {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: SFProText;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #9d9fa3;
  }
  &__placeholder_focused {
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: SFProText;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: #71747a;
  }
  & textarea {
    background: rgba(201, 204, 209, 0.24);
    resize: vertical;
    min-height: 60px !important;
    width: 100% !important;
    outline: none;
    border-radius: 8px;
    padding: 25px 16px 16px 16px;
    font-family: SFProText;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #171a1f;
  }
}
