.auth-avatar {
  padding: 10px;
  min-height: 90vh;
}
.auth-avatar__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-avatar__form {
  margin: 16px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.auth-avatar__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 16px;
  overflow: hidden;
}
.auth-avatar__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button:disabled {
  background-color: rgba(210, 234, 238, 0.801);
  color: rgba(84, 114, 114, 0.384);
  box-shadow: none;
  cursor: not-allowed;
}
button:disabled:hover {
  box-shadow: none;
}
