.select-month {
  width: 100%;
  height: 56px;
  position: relative;

  &__placeholder {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: SFProText;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #9d9fa3;
  }
  &__placeholder_focused {
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: SFProText;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: #71747a;
  }
  &__select {
    border-radius: 8px;
    outline: none;
    height: 100%;
    background: rgba(201, 204, 209, 0.24);
    height: 100%;
    width: 100%;
    padding: 25px 16px 6px 16px;
    outline: none;
    font-family: SFProText;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #171a1f;
    cursor: pointer;
  }
}
option {
  cursor: pointer;
}
