.group-card-add {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 6px 16px 6px 6px;
  align-items: center;
  border-radius: 5px;
  &__container {
    display: flex;
  }
  &__checkbox {
    cursor: pointer;
  }
  &__fullname {
    font-family: SFProText;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #171a1f;
  }
}
.group-card-add:hover {
  background: #2a2f3810;
  cursor: pointer;
}
