.popup-avatar-update {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.68);
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    background: white;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  &__title {
    font-family: SFProDisplay;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #171a1f;
    margin-bottom: 20px;
  }
  &__avatar {
    margin-bottom: 10px;
  }
  &__subtitle {
    font-family: SFProText;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #71747a;
    margin-bottom: 10px;
  }
  &__input {
    margin-bottom: 20px;
    width: 130px;
  }
  &__close {
    position: absolute;
    background: none;
    color: #71747a;
    right: 13px;
    top: 13px;
    font-size: 18px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__alert {
    margin-top: 10px;
  }
  &__close:hover {
    box-shadow: 0 0px 3px 2px rgba(0, 0, 0, 0.158);
  }
  &__close:active {
    background: #9b9da1b0;
    color: aliceblue;
  }
}
.popup-avatar-update_open {
  visibility: visible !important;
  opacity: 1 !important;
}
.popup-avatar-update_open .popup-avatar-update__form {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
