.input-file-custom {
  width: 130px;
}
.input-file-custom__input::-webkit-file-upload-button {
  visibility: hidden;
}
.input-file-custom__input::before {
  content: "Select some files";
  font-family: SFProDisplay;
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid rgb(182, 181, 181);
  border-radius: 5px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.input-file-custom__input:hover::before {
  border-color: rgb(104, 102, 102);
}
.input-file-custom__input:active::before {
  background: -webkit-linear-gradient(top, #54a5f5, #bdd8f3);
}
